{% extends 'post/base.html' %}
{% block content %}
<article class="post">

    <!-- {{user}} -->
    <section>
        <h3>Регистрация в личном кабинете</h3>
        <form action="{% url 'addprofile' user.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row gtr-uniform">


                <div class="col-12">
                    <label for="id_last_name">Фамилия:</label>
                    {{form.last_name}}
                    <!-- <input type="text" name="demo-name" id="demo-name" value="" placeholder="Введите свою фамилию" /> -->
                    
                </div>
                <div class="col-12">
                    <label for="id_first_name">Имя:</label>
                    {{form.first_name}}
                    <!-- <input type="text" name="demo-name" id="demo-name" value="" placeholder="Введите своё имя" /> -->
                    
                </div>
                <div class="col-12">
                    <label for="id_patronymic">Отчество:</label>
                    {{form.patronymic}}
                    <!-- <input type="text" name="demo-name" id="demo-name" value="" placeholder="Введите своё отчество" /> -->
                    
                </div>



                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Сохранить сведения" /></li>

                    </ul>
                </div>
            </div>
        </form>
    </section>

</article>
{% endblock content %}