



       <!-- Header -->
        <header id="header">
            <h1 class="shapka"><a href="{% url 'home' %}">Название организации</a></h1>
            
            <nav class="links">
                <ul>
					
					{% for c in cats %}
					<li><a href="{{c.get_absolute_url}}">{{c.name}}</a></li>
					{% endfor %}
                    
                </ul>
            </nav>
            <nav class="main">
                <ul>
                    {% if request.user.is_authenticated %}
                    
                    {%else%}
                    <li><a class="fa-user-plus" href="{% url 'register' %}">Регистрация</a></li>
                    {%endif%}
                    <li class="search">
                        
                        <a class="fa-search" href="#search">Search</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Поиск" />
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">Menu</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Menu -->
        <section id="menu">

            <!-- Search -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Поиск" />
                </form>
            </section>

            <!-- Links -->
            <section>
                <ul class="links">
                    <li>
                        <a href="#">
                            <h3>Мой кабинет</h3>
                            <p></p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'addpost' %}">
                            <h3>Добавить пост</h3>
                            <p>Описание</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Раздел 3</h3>
                            <p>Описание</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Раздел 4</h3>
                            <p>Описание</p>
                        </a>
                    </li>
                </ul>
            </section>

            <!-- Actions -->
            <section>
                <ul class="actions stacked">
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="button large fit">Выйти</a></li>
                    {%else%}
                    <li><a href="{% url 'login' %}" class="button large fit">Вход</a></li>
                    {%endif%}
                </ul>

            </section>

        </section>
       