{% extends 'post/base.html' %}
{% block add %}

						
                        <article class="post">
								<section>

									<form action="{% url 'settingpost' post.id %}" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall">
												{{form.title}}

											</div>
											<div class="col-6 col-12-xsmall">
												{{form.cat}}

											</div>


											<div class="col-12">
												{{form.content}}
											</div>

										</div>
									
								</section>

                            
                            <footer>
                                <ul class="actions">

									<button type="submit">Сохранить</button> 
									
                                </ul>
                                <ul class="stats">
									{{form.photo}}

                                    <li>
										
										

   										<label for="id_photo" class="input__file-button">
										<a for="id_photo" class="icon solid fa-camera"></a>
     									<span class="input__file-button-text"></span>
										 
   										</label>

									</li>
                                    <li>
										<label for="id_file" class="input__file-button">

										<a href="#" class="icon solid "></a></li></label>
                                </ul>
                            </footer>
						
                        </article>

					    </form>

					

						{% endblock add %}