{% extends 'post/base.html' %}
{% load static %}


<!-- Post -->
{% block content %}


						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2>{{post.title}}</h2>
										<p>{{post.cat}}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="{{post.time_create}}">{{post.time_update|time:"G:i"}}<br>{{post.time_update|date:"d F Y"}}</time>
										<a href="#" class="author"><span class="name">{{post.author.last_name}}<br>{{post.author.first_name}}<br>{{post.author.patronymic}}</span><img src="{{post.author.avatar.url}}" alt="" /></a>
									</div>
								</header>
								{% if post.photo %}
								<span class="image featured"><img src="{{post.photo.url}}" alt="" /></span>
								{% endif%}
								<p>{{post.content|linebreaks}}</p>
								<footer>
									<ul class="stats">
										<li><a href="#">Наверх</a></li>
										
									</ul>
								</footer>
							</article>

{% endblock content %}
