{% extends 'post/base.html' %}
{% load static %}


<!-- Открытый пост -->
{% block content %}


						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2>{{post.title}}</h2>
										<p>{{post.cat}}</p>
									</div>
									{%if post.author.avatar%}
									<div class="meta">
										<time class="published" datetime="{{post.time_create}}">{{post.time_update|time:"G:i"}}<br>{{post.time_update|date:"d F Y"}}</time>
										<a href="#" class="author"><span class="name">{{post.author.last_name}}<br>{{post.author.first_name}}<br>{{post.author.patronymic}}</span>
											<img src="{{post.author.avatar.url}}" alt="" /></a>
									</div>
									{%else%}
									<div class="meta">
										
										<time class="published" datetime="{{post.time_create}}">{{post.time_update|time:"G:i"}}<br>{{post.time_update|date:"d F Y"}}</time>
										<a href="#" class="author"><span class="name">{{post.author.last_name}}<br>{{post.author.first_name}}<br>{{post.author.patronymic}}</span>
											<img src="{% static 'post/images/avatar7.png' %}" alt="" /></a>
											{% endif %}
											
								</header>
								
								{% if post.author == user%}
								<div class="a">
								<ul class="aa">
									<li><a href="{% url 'settingpost' post.id %}" class="icon solid fa-pencil-alt">Редактировать новость</a></li>
									<li><a href="#" class="icon solid fa-trash-alt">Удалить</a></li>
									
									
								</ul>
								</div>
								{% endif%}
								{% if post.photo %}
								<span class="image featured"><img src="{{post.photo.url}}" alt="" /></span>
								{% endif%}
								<p>{{post.content|linebreaks}}</p>
								<footer>
						
								</footer>
							</article>



<!-- Форма создания поста -->
{% if user.is_authenticated %}                    

<article class="post">
	<link href="{% static 'post/css/comment.css' %}" rel="stylesheet">
<section class="content-item" id="comments">
    <div class="container">   
    	<div class="row1">
            <div class="col-sm-8">   
				<section>
					<form action="" method="post" id="comment-form" enctype="multipart/form-data">
						{% csrf_token %}
				
						<div class="row2">
							
							<div class="col-sm-3 col-lg-2 hidden-xs">
                            	<img class="img-responsive" src="{{user.avatar.url}}" alt="">
                            </div>
							
							{{form.comment_text}}
							<button type="submit">Добавить</button>
						 </div>
					</form>
				
				</section>
		
				
                <h3>Комментарии</h3>
                
                <!-- COMMENT 1 - START -->
                <div class="media">
					{% for c in post.post_comments.all %} 
					{%if c.comment_author.avatar%}
					<a class="pull-left" href="#"><img class="media-object" src="{{c.comment_author.avatar.url}}" alt=""></a>
					{%else%}
                    <a class="pull-left" href="#"><img class="media-object" src="{% static 'post/images/avatar7.png' %}" alt=""></a>
                    {%endif%}
					<div class="media-body">
						
                        <h4 class="media-heading">{{c.comment_author.last_name}}&nbsp;{{c.comment_author.first_name}}</h4>
						
                        <p>{{c.comment_text}}</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li>{{c.comment_pubdate|time:"G:i"}}&nbsp;{{c.comment_pubdate|date:"d F Y"}}</li> 
                        </ul>
						
                    </div>
					{%endfor%}
                </div>
				
                <!-- COMMENT 1 - END -->

            
            </div>
        </div>
    </div>
</section>
</article>
{%endif%}

{% endblock content %}