{% extends 'includes/layout/auth_base.html' %}
{% load static %}

{% block auth_title %}Ещё пара кликов<br>для завершения регистрации.{% endblock auth_title %}
{% block auth_subtitle %}Внутренняя социальная сеть организации{% endblock auth_subtitle %}

{% block auth_content %}
<h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
    Как вас зовут?
</h2>
<div class="intro-x mt-2 text-gray-500 xl:hidden text-center">Укажите настоящие имя и фамилию — это поможет коллегам вас найти</div>

{% if form.non_field_errors %}
<div class="intro-x rounded-md flex items-center px-5 py-4 mt-4 bg-theme-6 text-white">
    <i data-feather="alert-octagon" class="w-5 h-5 mr-2 flex-shrink-0"></i>
    <div>
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

<form method="post" action="{% url 'addprofile' %}" novalidate>
    {% csrf_token %}
    <div class="intro-x mt-8">
        {{ form.last_name }}
        {% include "includes/layout/field_errors.html" with field=form.last_name %}
        {{ form.first_name }}
        {% include "includes/layout/field_errors.html" with field=form.first_name %}
        {{ form.patronymic }}
        {% include "includes/layout/field_errors.html" with field=form.patronymic %}
    </div>
    <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
        <button type="submit" class="button button--lg w-full xl:w-auto xl:px-8 text-white bg-theme-1">Завершить регистрацию</button>
    </div>
</form>
{% endblock auth_content %}
